@import url("https://css.gg/square.css");
body {
  margin: 0;
  padding: 0;
  /*background: linear-gradient(#5c1a91, #a67ee7);*/
  background-color: blueviolet;
  overflow: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  background: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.betnumbers {
  width: 700px;
  border-radius: 10px solid black;
  display: block;
  background: none;
  justify-content: space-between;
}

button {
  width: 50px;
  height: 50px;
  margin-right: 3px;
  border-radius: 20%;
  background: none;
  color: #fff;
}
button:hover {
  background-color: #5a8ceb;
}
.btncolorg {
  background-color: green;
  border: none;
  height: 150px;
  border-radius: 1rem 0rem 0rem 1rem;
}
.btncolorR {
  background-color: red;
  border: none;
}
.btncolorB {
  background-color: black;
  color: white;
  border: none;
}
.multiplebtn {
  background: none;
}

.zerro {
  background: none;
  display: flex;
}

#rendez {
  display: flex;
  background: none;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}

.linesmultiple {
  background: none;
  display: grid;
}
.linesmultiple button {
  border-color: #fff;
}

.rowsmultiples {
  background: none;
  display: flex;
  margin: auto;
  justify-content: center;
}
.rowsmultiples button {
  width: 225px;
  border-radius: 0%;
  border-color: #fff;
}

.multiplers {
  background: none;
  display: flex;
  margin: auto;
  justify-content: center;
}
.multiplers button {
  width: 111px;
  border-radius: 0%;
  border-color: #fff;
}

.multipleRed {
  color: red;
  padding-left: 45px;
  background-color: red;
}

i {
  font-size: 24px;
  padding: 8px;
  background: none;
}

.multipleBlack {
  color: black;
  padding-left: 45px;
  background-color: black;
}

/* keriik*/
:root {
  --labda-meret: 3vmin;
}
.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 50vh;
  grid-area: kerek;
  align-items: center;
  align-content: center;

  aspect-ratio: 1/1;
  overflow: hidden;
  background: none;
}
#kerek {
  display: block;
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
  aspect-ratio: 1/1;
  background: none;
}
#labda {
  position: absolute;
  height: 5%;
  border-radius: 100%;
  left: 49.2%;
  aspect-ratio: 1/1;
  z-index: 8;
  background-color: white !important;
}
#labda-wrapper {
  top: 10%;
  position: absolute;
  height: 80%;
  width: 80%;
  background: none;
}
.result {
  display: flex;
  justify-content: center;
}

#kozepre {
  display: flex;
  min-width: 1124px;
}
.telo {
  display: none;
}
@media screen and (max-width: 1050px) {
  .content {
    display: none;
  }
  .telo {
    display: block;
    text-align: center;
    margin-top: 25%;
  }
}
.lox {
  display: none;
  justify-content: center;
  margin-top: 25vh;
  font-size: 2rem;
  background-color: rgb(221, 0, 0);
}
